<div class="struct-editor-box">
  <div class="struct-editor-main">
    <div class="struct-editor-target">
      <div class="struct-editor-target-title">TargetType</div>
      <div class="target-type-box" [dragula]='"field-editor-bag"'>
        <div class="target-type-field">i: integer</div>
        <div class="target-type-field">s: string</div>
        <div class="target-type-field">b: boolean</div>
      </div>
    </div>
    <div class="struct-editor-data-lib">
      <div class="data-library-title">Data Library</div>
      <div class="data-library-box" [dragula]='"field-editor-bag"'>
        <div class="data-library-type">boolean</div>
        <div class="data-library-type">byte</div>
        <div class="data-library-type">character</div>
        <div class="data-library-type">string</div>
        <div class="data-library-type">integer</div>
        <div class="data-library-type">float</div>
      </div>
    </div>
  </div>
</div>
