.pg {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.pg-body {
	display: flex;
	flex-direction: row;
	flex: 1;
}

.pg-content {
	display: flex;
	flex: 1;
}

.pg-header, .pg-footer {
	display: flex;
	flex: 0 0 4ex;
	align-items: center;
	background-color: hsla(174,100%,20%,1);
	color: white;
}

.pg-left-lib, .pg-right-lib {
	display: flex;
	flex: 0 0 8em;
	flex-direction: column;
	background-color: #009688;
	color: white;	
}

.pg-left-lib {
	order: -1;
	background-color: #58a9a1;
}

.right-lib-item {
	margin-left: auto;
}

.hf-content, .content, .lib-item {
	padding: 4px;
}

@media (max-width: 500px) {
	.pg-body {
		flex-direction: column;
	}
	.pg-left-lib, .pg-right-lib {
		flex-direction: row;
		flex: 0 0;
		flex-wrap: wrap;
	}
	.pg-left-lib {
		order: 0;
	}
	.right-lib-item {
		margin-left: 0;
	}
}

